.app-header {
   background-color: $primary-300;

   .content {
      padding-block: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
         height: 24px;
      }

      .logout {
         @include main-btn
      }
   }

   .todo-filter {
      display: none;

      @include from-mobile-layout {
         display: flex;
      }
   }
}