.app-header {
   padding-block: 8px;
   display: flex;
   justify-content: space-between;

   .logo-container {
      display: flex;
      // gap: 2px;
      align-items: center;

      .logo {
         width: 30px;
         transform: translateX(-6px);
      }

      span {
         font-size: rem(20px);
         font-weight: 600;
         color: #008000;
      }
   }

   nav {
      display: flex;
      gap: 12px;

      a {
         &:hover {
            color: lighten($darkest-gray, 30%);
         }
      }
   }

   .active {
      text-decoration: underline;
   }
}