*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  color: $text-100;
  direction: ltr;
  background-color: $primary-500;
}

button {
  cursor: pointer;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: inherit;
  border: none;

  &:focus {
    outline: none;
  }
}

small {
  font-size: 14px;
}

textarea {
  font: inherit;
  resize: none;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

p {
  margin: 0;
}

pre {
  font-family: roboto;
  margin: 0;
  white-space: break-spaces;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea,
input {
  outline: none;
  font: inherit;
  font-size: 14px;
  color: inherit;
  padding: 0;

  &:-internal-autofill-previewed {
    background-color: initial !important;
    color: unset !important;
  }

  :focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@include from-mobile-layout {

  ::-webkit-scrollbar {
    width: 0.4em;
    height: 0.5em;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba($sub-clr, 50%);
    transition: background-color 1s;
    border-radius: 100vw;

    &:hover {
      background-color: rgba($sub-clr, 100%);
    }
  }
}