// poppins
@font-face {
   font-family: poppins;
   src: url("../../fonts/poppins/poppins-regular.ttf");
   font-weight: 400;
}

@font-face {
   font-family: poppins;
   src: url("../../fonts/poppins/poppins-bold.ttf");
   font-weight: 600;
}

@font-face {
   font-family: poppins;
   src: url("../../fonts/poppins/poppins-extra-bold.ttf");
   font-weight: 800;
}