@mixin from-mini-layout {
  @media (min-width: $mini-breakpoint) {
    @content;
  }
}

@mixin from-mobile-layout {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin from-narrow-layout {
  @media (min-width: $narrow-breakpoint) {
    @content;
  }
}

@mixin from-normal-layout {
  @media (min-width: $normal-breakpoint) {
    @content;
  }
}

@mixin from-wide-layout {
  @media (min-width: $wide-breakpoint) {
    @content;
  }
}

@mixin main-btn {
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .2s, color .2s;
  color: $text-200;


  &:hover {
    background-color: $primary-100;
    color: $text-100;
  }
}