// Colors:
$cta: #FD266F;
$light-cta: #FFF1F1;
$background-cta: linear-gradient(to end, #fb387b 0%, #fd2770 50%, #fd0f60 100%);

$lightest-gray: #EBEEF2;
$light-gray: #a9abb3;
$dark-gray: #55575c;
$darkest-gray: #303135;

$btn-disable-background: #EDEFF4;
$btn-disable-color: #AAADB5;

$blue: #3385ff;
$lightest-blue: #a8dadc;
$light-blue: #457b9d;
$dark-blue: #1d3557;

$red: #CC1016;
$err-red: #FF6584;


// Breakpoints:
$mini-breakpoint: 520px;
$mobile-breakpoint: 760px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1250px;
$wide-breakpoint: 1460px;


//Size:
// $header-height: 60px;
$mobile-navbar-height: 109px;

//Box shadows:
$light-shadow: 0 4px 10px 0 #0000000a;
$border-bottom-shadow: 0 4px 10px 0 #0000000a;